* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Zilla Slab", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 700px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
}

@-webkit-keyframes up {
  from {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  to {
    opacity: 1;
  }
}

@keyframes up {
  from {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes bounce {
  20% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  20% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

main .home {
  -webkit-animation: up 1s linear;
          animation: up 1s linear;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .home .animation {
  margin-left: 50px;
  width: 600px;
  height: 315px;
  background-image: url("../assets/dev.svg");
  background-size: cover;
  border: 1px solid white;
}

main .home .introduce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .home .introduce h2 {
  font-size: 45px;
}

main .home .introduce span {
  font-size: 25px;
  margin-bottom: 15px;
}

main .home .introduce a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  color: white;
  background: #4b4b4b;
  top: 30px;
  padding: 12px;
  font-weight: 500;
  border-radius: 4px;
}

main .home .introduce .social-media {
  margin-top: 25px;
}

main .home .introduce .social-media ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .home .introduce .social-media ul li {
  list-style: none;
  margin-left: 10px;
}

main .home .introduce .social-media ul li a {
  font-weight: 500;
  padding: 12px;
}

main .home .introduce .social-media ul li a i {
  margin-right: 5px;
}

main .home .introduce .social-media .github {
  background-color: #9370db;
}

main .home .introduce .social-media .linkedin {
  background-color: #0e76a8;
}

main .home .introduce .social-media .whatsapp {
  background: #128c7e;
}

main .skills {
  height: 20vh;
  -webkit-animation: up 1.5s linear;
          animation: up 1.5s linear;
}

main .skills .tittle {
  margin: 25px 0;
}

main .skills .skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .skills .skill-list li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

main .projects {
  -webkit-animation: up 2s linear;
          animation: up 2s linear;
  margin: 75px 0;
}

main .projects .tittle {
  margin-bottom: 25px;
}

main .projects .frame {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[3];
      grid-template-columns: repeat(3, 2fr);
  grid-column-gap: 50px;
  grid-row-gap: 30px;
}

main .projects .frame .card {
  -webkit-box-shadow: 0px 3px 10px rgba(88, 88, 88, 0.1), 0px 16px 31px rgba(88, 88, 88, 0.1);
          box-shadow: 0px 3px 10px rgba(88, 88, 88, 0.1), 0px 16px 31px rgba(88, 88, 88, 0.1);
  border-radius: 4px;
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .projects .frame .card h3 {
  margin: 0 5px;
}

main .projects .frame .card .project-access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .projects .frame .card .project-access a {
  font-weight: 150;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 10px;
  margin: 10px auto;
}

main .projects .frame .card .project-access a i {
  margin-right: 6px;
}

main .projects .frame .card .project-access .deploy {
  background-color: limegreen;
}

main .projects .frame .card .project-access .repo {
  background-color: #9370db;
}

main .projects .frame .card:hover {
  -webkit-animation: bounce 0.5s linear;
          animation: bounce 0.5s linear;
}

.btn-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  outline: none;
  height: 60px;
  width: 60px;
  color: #fff;
  background-color: #4b4b4b;
  border: none;
  border-radius: 50vh;
  display: none;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}
/*# sourceMappingURL=style.css.map */